:root{
    --primary:#0013FF;
    --secundary:#FFB600;
    --background: #35495e;
    --black-text: #000000;
    --white-text:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: .7rem;
}

.drop-down-menu .drop-down-button{
    font-size: 1.2rem;
    outline: none;
    color: var(--white-text);
    padding: 1rem 1rem;
    background-color: inherit;
}

.drop-down-menu-content{
    display: none;
    position: absolute;
    background-color: var(--white-text);
    min-width: 10em;
    box-shadow: 0 .8rem 1rem 0 rgba(0,0,00.2);
    z-index: 1;
}

.drop-down-menu:hover{
    background-color: var(--secundary);
    color: var(--white-text);
}

.drop-down-menu-content a{
    float: none;
    color: var(--black-text);
    padding: .3rem .3rem;
    display: block;
    text-decoration: none;
}

.drop-down-menu-content a:hover{
    background-color: var(--background);
    color: var(--white-text);
}

.drop-down-menu:hover .drop-down-menu-content{
    display: block;
}

nav ul{
    display: flex;
}

.drawer{
    margin: 2rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;

}

#ckbox{
    display: none;
}

/*media query*/

@media (max-width:1039px) {
    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }

    .drop-down-menu-content{
        width: 100%;
    }

    nav h1{
        margin-left: 1rem;
    }

    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--background);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    #ckbox:checked ~ .menu-box{
        left: 0;
    }
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}
.carr{
    padding: 0;
    margin: 40px;
    display: flex;
}

.banner{
    height:350px;
    background-image: url(image/colchon.jpeg);
    color: white;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}
